.yt_container {
  height: 50vh;
}
.yt_container iframe {
  height: 100%;
  width: 100%;
}
.diabetes .quote {
  color: #f1c40f;
  font-size: 4rem;
  font-weight: 700;
}
.diabetes_info {
  color: white;
}
.diabetes ul {
  list-style: none;
}

.icon_list li {
  display: flex; /* Make the li a flex container */
  align-items: center; /* Vertically center the icon and text */
  font-size: 1rem;
  color: #f1c40f;
  margin-top: 1rem;
  gap: 1rem; /* Add spacing between icon and text */
}
.icon_list li strong {
  color: #f1c40f;
}
.icon_container {
  position: relative;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
.icon_container img {
  object-fit: contain;
}
