/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  font-family: "oswald", sans-serif;
  color: white;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}
body {
  background-color: #151515;
}

/* Navbar start */
nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.dropdown-menu {
  background-color: #ac1801;
}
.dropdown-item {
  background-color: #ac1801;
  text-transform: uppercase;
}
.dropdown-item:hover {
  background-color: #ac1801;
  color: black;
}
.social-icon {
  width: 40px;
  height: 40px;
  color: white;
  /* background-color: #374151; */
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #4b5563;
}

.social-icon span {
  font-size: 1.2rem;
}
/* Navbar end */

/* Carousel Start */
.carousel-item {
  height: 100vh;
  overflow: hidden;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

.carousel-inner .overlay-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.overlay-container h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: bold;
}

/* divider start */
.divider {
  background-color: brown;
  color: white;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/divider_bg.jpg);
}
.divider h2 {
  font-weight: bold;
  font-size: 3rem;
}
/* divider end */

/* program start */
.programs .program {
  height: 50vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program:nth-of-type(1) {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/programs/carb.jpg);
  background-size: cover;
}
.program:nth-of-type(2) {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/programs/diabetes.jpg);
  background-size: cover;
}
.program:nth-of-type(3) {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/programs/lean.jpg);
  background-size: cover;
}
.program h3 {
  font-weight: 700;
}
.program p {
  font-size: 0.9rem;
}
.program button {
  background-color: transparent;
  font-weight: 700;
  border: 1px solid red;
  color: rgb(231, 231, 231);
  transition: all 0.2s ease-in;
  font-size: 0.9rem;
  border-radius: 5px;
}
.program button:hover {
  background-color: red;
  color: white;
}

/* program end */

/* newsletter start */
.newsletter {
  background-color: brown;
  color: white;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/divider_bg.jpg);
}
.newsletter h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  text-transform: uppercase;
}
.newsletter input {
  border: none;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: white;
}
.newsletter button {
  background-color: whitesmoke;
  color: red;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
  border-radius: 5px;
}
.newsletter button:hover {
  color: wheat;
  background-color: red;
}
/* newsletter end */

/* about start */
.about {
  /* height: 80vh; */
  width: 100%;
  background-color: #151515;
  color: white;
}
.about .row {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0 5rem;
  padding: 7rem 0;
}
.about .row:nth-of-type(2) {
  justify-content: start;
}
.about h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.about h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 25px;
  font-size: 1.2rem;
  /* letter-spacing: 0.2; */
}
.about p {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 23px;
}
.about button {
  font-size: 0.8rem;
  background: linear-gradient(to right, #e16521, #e4381c);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.about button:hover {
  background: linear-gradient(to right, #c64500, #ac1801);
}
.about-img {
  position: relative;
}
.about-img img {
  object-fit: cover;
  border-radius: 20px;
}
.about h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1;
}

.icon-card {
  /* background-color: #2d2d2d; */
}
.icon-card img {
  height: 50px;
  width: 50px;
}
.icon-card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.icon-card p {
  font-family: "Poppins";
  font-size: 0.9rem;
  color: rgb(123, 123, 123);
}
/* about end */

/* testimonials start */
.testimonials h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
.testimonials p {
  font-family: "Poppins";
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
.yt-video {
  height: 50vh;
}
.yt-video iframe {
  height: 100%;
  width: 100%;
}
/* testimonials end */
