.img_container {
  height: 50vh;
  position: relative;
}
.img_container img {
  object-fit: cover;
  border-radius: 20px;
}
.program_container {
  color: white;
}
.strike_through {
  text-decoration: line-through solid white;
}
.program_container button {
  color: white;
  background-color: transparent;
  border: 1px solid red;
  transition: background-color 0.2s ease-in;
}
.program_container button:hover {
  background-color: red;
}
.program_info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}
